<?xml version='1.0' encoding='utf-8'?>
<robot name="dual_piper">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link name="L_base_link">
    <inertial>
      <origin xyz="-0.00347 -0.00012 0.04283" rpy="0 0 0" />
      <mass value="1.07" />
      <inertia ixx="0.00298745" ixy="0.00000369" ixz="0.00016646" iyy="0.00312688" iyz="0.00000832" izz="0.00093042" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </collision>
  </link>
  <link name="L_link1">
    <inertial>
      <origin xyz="0.00065 0.00006 -0.00325" rpy="0 0 0" />
      <mass value="0.71" />
      <inertia ixx="0.00051254" ixy="0.00000294" ixz="0.00001039" iyy="0.00041089" iyz="0.00000240" izz="0.00045962" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J1.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint1" type="revolute">
    <origin xyz="0 0 0.123" rpy="0 0 0" />
    <parent link="L_base_link" />
    <child link="L_link1" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="100" velocity="10" />
  </joint>
  <link name="L_link2">
    <inertial>
      <origin xyz="0.21854 -0.00853 0.00234" rpy="0 0 0" />
      <mass value="1.16" />
      <inertia ixx="0.00109788" ixy="0.00180610" ixz="0.00055040" iyy="0.06763354" iyz="0.00000813" izz="0.06762540" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint2" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 -0.13586 3.1416" />
    <parent link="L_link1" />
    <child link="L_link2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="3.14" effort="100" velocity="10" />
  </joint>
  <link name="L_link3">
    <inertial>
      <origin xyz="0.20190 -0.00415 -0.00114" rpy="0 0 0" />
      <mass value="0.67" />
      <inertia ixx="0.00033471" ixy="0.00026891" ixz="0.00013918" iyy="0.03360411" iyz="0.00000052" izz="0.03356941" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J3.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint3" type="revolute">
    <origin xyz="0.28503 0 0" rpy="0 0 2.8377" />
    <parent link="L_link2" />
    <child link="L_link3" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9671" upper="0" effort="100" velocity="10" />
  </joint>
  <link name="L_link4">
    <inertial>
      <origin xyz="0.06593 -0.04751 -0.00274" rpy="0 0 0" />
      <mass value="0.4" />
      <inertia ixx="0.00120173" ixy="0.00138165" ixz="0.00001187" iyy="0.00209324" iyz="0.00000217" izz="0.00307814" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J4.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint4" type="revolute">
    <origin xyz="0.27264 0 0" rpy="0 0 0.075129" />
    <parent link="L_link3" />
    <child link="L_link4" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="10" />
  </joint>
  <link name="L_link5">
    <inertial>
      <origin xyz="0.00005 0.0 -0.00417" rpy="0 0 0" />
      <mass value="0.35" />
      <inertia ixx="0.00022660" ixy="0.00000019" ixz="0.00000005" iyy="0.00017740" iyz="0.00000085" izz="0.00019425" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J5.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J5.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint5" type="revolute">
    <origin xyz="0.076857 0.00062395 0" rpy="-1.5708 0 0" />
    <parent link="L_link4" />
    <child link="L_link5" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="10" />
  </joint>
  <link name="L_link6">
    <inertial>
      <origin xyz="0 0 -0.00351" rpy="0 0 0" />
      <mass value="0.007" />
      <inertia ixx="0.00000064" ixy="0" ixz="0" iyy="0.00000064" iyz="0" izz="0.00000106" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.035" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/Link6.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.035" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint6" type="revolute">
    <origin xyz="0.035 0 0" rpy="1.5708 0 1.5708" />
    <parent link="L_link5" />
    <child link="L_link6" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="10" />
  </joint>
  <link name="L_gripper_base">
    <inertial>
      <origin xyz="-0.00006 -0.00003 0.0321436689908876" rpy="0 0 0" />
      <mass value="0.52" />
      <inertia ixx="0.00151445" ixy="0.00000048" ixz="0.00000003" iyy="0.00162326" iyz="0.00000277" izz="0.00030728" />
    </inertial>
    <visual>
      <origin xyz="0.002 0.0078 0.06" rpy="-1.57 0 3.14" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.002 0.0078 0.06" rpy="-1.57 0 3.14" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint6_to_gripper_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_link6" />
    <child link="L_gripper_base" />
  </joint>
  <link name="L_link7">
    <inertial>
      <origin xyz="0.000277816920932317 -0.0467673824063769 -0.00921030054508036" rpy="0 0 0" />
      <mass value="0.0264822021416248" />
      <inertia ixx="9.99779119357223E-06" ixy="-1.57542283433504E-07" ixz="2.71367446701359E-08" iyy="6.17952441557932E-06" iyz="1.58939319453383E-06" izz="1.4210192754512E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J7.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J7.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint7" type="prismatic">
    <origin xyz="0 0 0.13503" rpy="1.5708 0 1.5708" />
    <parent link="L_gripper_base" />
    <child link="L_link7" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="0.05" effort="100" velocity="1" />
  </joint>
  <link name="L_link8">
    <inertial>
      <origin xyz="0.000277816920932317 0.0467673824063769 -0.00921030054508036" rpy="0 0 0" />
      <mass value="0.0264822021416248" />
      <inertia ixx="9.99779119357223E-06" ixy="-1.57542283433504E-07" ixz="2.71367446701359E-08" iyy="6.17952441557932E-06" iyz="1.58939319453383E-06" izz="1.4210192754512E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J8.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J8.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint8" type="prismatic">
    <origin xyz="0 0 0.13503" rpy="-1.5708 0 1.5708" />
    <parent link="L_gripper_base" />
    <child link="L_link8" />
    <axis xyz="0 0 1" />
    <limit lower="-0.05" upper="0" effort="100" velocity="1" />
  </joint>
  <joint name="base_to_L_base_link" type="fixed">
    <origin xyz="0 0.35 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="L_base_link" />
  </joint>
  <link name="R_base_link">
    <inertial>
      <origin xyz="-0.00347 -0.00012 0.04283" rpy="0 0 0" />
      <mass value="1.07" />
      <inertia ixx="0.00298745" ixy="0.00000369" ixz="0.00016646" iyy="0.00312688" iyz="0.00000832" izz="0.00093042" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </collision>
  </link>
  <link name="R_link1">
    <inertial>
      <origin xyz="0.00065 0.00006 -0.00325" rpy="0 0 0" />
      <mass value="0.71" />
      <inertia ixx="0.00051254" ixy="0.00000294" ixz="0.00001039" iyy="0.00041089" iyz="0.00000240" izz="0.00045962" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J1.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint1" type="revolute">
    <origin xyz="0 0 0.123" rpy="0 0 0" />
    <parent link="R_base_link" />
    <child link="R_link1" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="100" velocity="10" />
  </joint>
  <link name="R_link2">
    <inertial>
      <origin xyz="0.21854 -0.00853 0.00234" rpy="0 0 0" />
      <mass value="1.16" />
      <inertia ixx="0.00109788" ixy="0.00180610" ixz="0.00055040" iyy="0.06763354" iyz="0.00000813" izz="0.06762540" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint2" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 -0.13586 3.1416" />
    <parent link="R_link1" />
    <child link="R_link2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="3.14" effort="100" velocity="10" />
  </joint>
  <link name="R_link3">
    <inertial>
      <origin xyz="0.20190 -0.00415 -0.00114" rpy="0 0 0" />
      <mass value="0.67" />
      <inertia ixx="0.00033471" ixy="0.00026891" ixz="0.00013918" iyy="0.03360411" iyz="0.00000052" izz="0.03356941" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J3.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint3" type="revolute">
    <origin xyz="0.28503 0 0" rpy="0 0 2.8377" />
    <parent link="R_link2" />
    <child link="R_link3" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9671" upper="0" effort="100" velocity="10" />
  </joint>
  <link name="R_link4">
    <inertial>
      <origin xyz="0.06593 -0.04751 -0.00274" rpy="0 0 0" />
      <mass value="0.4" />
      <inertia ixx="0.00120173" ixy="0.00138165" ixz="0.00001187" iyy="0.00209324" iyz="0.00000217" izz="0.00307814" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J4.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint4" type="revolute">
    <origin xyz="0.27264 0 0" rpy="0 0 0.075129" />
    <parent link="R_link3" />
    <child link="R_link4" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="10" />
  </joint>
  <link name="R_link5">
    <inertial>
      <origin xyz="0.00005 0.0 -0.00417" rpy="0 0 0" />
      <mass value="0.35" />
      <inertia ixx="0.00022660" ixy="0.00000019" ixz="0.00000005" iyy="0.00017740" iyz="0.00000085" izz="0.00019425" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J5.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J5.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint5" type="revolute">
    <origin xyz="0.076857 0.00062395 0" rpy="-1.5708 0 0" />
    <parent link="R_link4" />
    <child link="R_link5" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="10" />
  </joint>
  <link name="R_link6">
    <inertial>
      <origin xyz="0 0 -0.00351" rpy="0 0 0" />
      <mass value="0.007" />
      <inertia ixx="0.00000064" ixy="0" ixz="0" iyy="0.00000064" iyz="0" izz="0.00000106" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.035" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/Link6.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.035" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint6" type="revolute">
    <origin xyz="0.035 0 0" rpy="1.5708 0 1.5708" />
    <parent link="R_link5" />
    <child link="R_link6" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="10" />
  </joint>
  <link name="R_gripper_base">
    <inertial>
      <origin xyz="-0.00006 -0.00003 0.0321436689908876" rpy="0 0 0" />
      <mass value="0.52" />
      <inertia ixx="0.00151445" ixy="0.00000048" ixz="0.00000003" iyy="0.00162326" iyz="0.00000277" izz="0.00030728" />
    </inertial>
    <visual>
      <origin xyz="0.002 0.0078 0.06" rpy="-1.57 0 3.14" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.002 0.0078 0.06" rpy="-1.57 0 3.14" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint6_to_gripper_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="R_link6" />
    <child link="R_gripper_base" />
  </joint>
  <link name="R_link7">
    <inertial>
      <origin xyz="0.000277816920932317 -0.0467673824063769 -0.00921030054508036" rpy="0 0 0" />
      <mass value="0.0264822021416248" />
      <inertia ixx="9.99779119357223E-06" ixy="-1.57542283433504E-07" ixz="2.71367446701359E-08" iyy="6.17952441557932E-06" iyz="1.58939319453383E-06" izz="1.4210192754512E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J7.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J7.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint7" type="prismatic">
    <origin xyz="0 0 0.13503" rpy="1.5708 0 1.5708" />
    <parent link="R_gripper_base" />
    <child link="R_link7" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="0.05" effort="100" velocity="1" />
  </joint>
  <link name="R_link8">
    <inertial>
      <origin xyz="0.000277816920932317 0.0467673824063769 -0.00921030054508036" rpy="0 0 0" />
      <mass value="0.0264822021416248" />
      <inertia ixx="9.99779119357223E-06" ixy="-1.57542283433504E-07" ixz="2.71367446701359E-08" iyy="6.17952441557932E-06" iyz="1.58939319453383E-06" izz="1.4210192754512E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J8.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/magics/magicsim/MagicSim/Third_Party/curobo/src/curobo/content/assets/robot/piper_x_description/meshes/dae/J8.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint8" type="prismatic">
    <origin xyz="0 0 0.13503" rpy="-1.5708 0 1.5708" />
    <parent link="R_gripper_base" />
    <child link="R_link8" />
    <axis xyz="0 0 1" />
    <limit lower="-0.05" upper="0" effort="100" velocity="1" />
  </joint>
  <joint name="base_to_R_base_link" type="fixed">
    <origin xyz="0 -0.35 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="R_base_link" />
  </joint>
</robot>