<?xml version="1.0" encoding="UTF-8"?>
<robot name="panda_xhand_right">
  <link name="base_link"/>
  <joint name="panda_fixed" type="fixed">
    <origin rpy="0 0 0.0" xyz="0 0 0.0"/>
    <parent link="base_link"/>
    <child link="panda_link0"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="panda_link0">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link0.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link0.obj"/>
      </geometry>
    </collision>


  </link>
  <link name="panda_link1">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link1.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link1.obj"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.00033 -0.02204 -0.04762"/>
      <mass value="2.797"/>
      <inertia ixx="0.0156" ixy="0.0" ixz="0.0" iyy="0.01439" iyz="-0.0024" izz="0.005"/>
    </inertial>
  </link>
  <joint name="panda_joint1" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="0 0 0" xyz="0 0 0.333"/>
    <parent link="panda_link0"/>
    <child link="panda_link1"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>
  </joint>
  <link name="panda_link2">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link2.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link2.obj"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.00038 -0.09211 0.01908"/>
      <mass value="2.542"/>
      <inertia ixx="0.0166" ixy="0.0" ixz="0.0" iyy="0.0046" iyz="0.0035" izz="0.015"/>
    </inertial>
  </link>
  <joint name="panda_joint2" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-1.7628" soft_upper_limit="1.7628"/>
    <origin rpy="-1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="panda_link1"/>
    <child link="panda_link2"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-1.7628" upper="1.7628" velocity="2.1750"/>
  </joint>
  <link name="panda_link3">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link3.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link3.obj"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.05152 0.01696 -0.02971"/>
      <mass value="2.2513"/>
      <inertia ixx="0.006" ixy="0.009" ixz="0.003" iyy="0.0086" iyz="0.009" izz="0.0065"/>
    </inertial>
  </link>
  <joint name="panda_joint3" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.57079632679 0 0" xyz="0 -0.316 0"/>
    <parent link="panda_link2"/>
    <child link="panda_link3"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>
  </joint>
  <link name="panda_link4">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link4.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link4.obj"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.05113 0.05825 0.01698"/>
      <mass value="2.2037"/>
      <inertia ixx="0.0156" ixy="0.0" ixz="0.0" iyy="0.01439" iyz="-0.0024" izz="0.005"/>
    </inertial>
  </link>
  <joint name="panda_joint4" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-3.0718" soft_upper_limit="-0.0698"/>
    <origin rpy="1.57079632679 0 0" xyz="0.0825 0 0"/>
    <parent link="panda_link3"/>
    <child link="panda_link4"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-3.0718" upper="-0.0698" velocity="2.1750"/>
    <!-- something is weird with this joint limit config
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-3.0" upper="0.087" velocity="2.1750"/>  -->
  </joint>
  <link name="panda_link5">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link5.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link5.obj"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00005 0.03730 -0.09280"/>
      <mass value="2.2855"/>
      <inertia ixx="0.02297014781" ixy="0.0" ixz="0.0" iyy="0.02095060919" iyz="0.00382345782" izz="0.00430606551"/>
    </inertial>
  </link>
  <joint name="panda_joint5" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="-1.57079632679 0 0" xyz="-0.0825 0.384 0"/>
    <parent link="panda_link4"/>
    <child link="panda_link5"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
  </joint>
  <link name="panda_link6">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link6.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link6.obj"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.06572 -0.00371 0.00153"/>
      <mass value="1.353"/>
      <inertia ixx="0.00087964522" ixy="-0.00021487814" ixz="-0.00011911662" iyy="0.00277796968" iyz="0.00001274322" izz="0.00286701969"/>
    </inertial>
  </link>
  <joint name="panda_joint6" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-0.0175" soft_upper_limit="3.7525"/>
    <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="panda_link5"/>
    <child link="panda_link6"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-0.0175" upper="3.7525" velocity="2.6100"/>
    <!-- <dynamics damping="10.0"/>
    <limit effort="12" lower="-0.0873" upper="3.0" velocity="2.6100"/> -->
  </joint>
  <link name="panda_link7">
    <visual>
      <geometry>
        <mesh filename="meshes/visual/link7.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/link7.obj"/>
      </geometry>
    </collision>
        <inertial>
      <origin rpy="0 0 0" xyz="0.00089 -0.00044 0.05491"/>
      <mass value="0.35973"/>
      <inertia ixx="0.00019541063" ixy="0.00000165231" ixz="0.00000148826" iyy="0.00019210361" iyz="-0.00000131132" izz="0.00017936256"/>
    </inertial>
  </link>
  <joint name="panda_joint7" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.57079632679 0 0" xyz="0.088 0 0"/>
    <parent link="panda_link6"/>
    <child link="panda_link7"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
  </joint>

  <link name="panda_link8"/>
  <joint name="panda_joint8" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.107"/>
    <parent link="panda_link7"/>
    <child link="panda_link8"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="panda_right_angle_coupling">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="xhand_meshes/panda_right_angle_coupling_right_angle_coupling.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="xhand_meshes/panda_right_angle_coupling_right_angle_coupling.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="panda_hand_joint" type="fixed">
    <parent link="panda_link8"/>
    <child link="panda_right_angle_coupling"/>

    <origin rpy="0 0 0.785398163397" xyz="0 0 0"/>
  </joint>

  <joint name="xhand_mount_joint" type="fixed">
    <origin xyz="0.0078412 0.0391602 0.0500555" rpy="1.5707964 0. 3.1415927"/>
    <parent link="panda_right_angle_coupling"/>
    <child link="right_hand_link"/>
  </joint>

    <link name="right_hand_link">
    <inertial>
      <origin
        xyz="-0.00366836214548078 0.0100351220466308 -0.0582695185384578"
        rpy="0 0 0" />
      <mass
        value="0.53903004" />
      <inertia
        ixx="0.00046462"
        ixy="0.00000004"
        ixz="-0.00005128"
        iyy="0.00064214"
        iyz="0.00000217"
        izz="0.00027541" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_link.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_hand_ee_link">
    <inertial>
      <origin
        xyz="2.48510213245214E-19 -8.08284973285247E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.00000565" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ee_link.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_ee_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.065"
      rpy="0 0 0" />
    <parent
      link="right_hand_link" />
    <child
      link="right_hand_ee_link" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_back_link">
    <inertial>
      <origin
        xyz="-0.00149243508011096 -0.0140081556490721 0.000647100828228067"
        rpy="0 0 0" />
      <mass
        value="0.00000020" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_back_link.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_back_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.065"
      rpy="0 0 0" />
    <parent
      link="right_hand_link" />
    <child
      link="right_hand_back_link" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_thumb_bend_link">
    <inertial>
      <origin
        xyz="0.0144358799903648 -0.00116534489100676 -5.40665183231849E-05"
        rpy="0 0 0" />
      <mass
        value="0.01174632" />
      <inertia
        ixx="0.00000062"
        ixy="-0.00000004"
        ixz="-0.00000007"
        iyy="0.0000016"
        iyz="0.00000000001"
        izz="0.00000162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_bend_link.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_bend_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_thumb_bend_joint"
    type="revolute">
    <origin
      xyz="0.0228 0.0095 -0.0305"
      rpy="0 0 0" />
    <parent
      link="right_hand_link" />
    <child
      link="right_hand_thumb_bend_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.832"
      effort="1.1"
      velocity="8.63" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_thumb_rota_link1">
    <inertial>
      <origin
        xyz="0.0287681482733488 -0.00036176529547633 -0.00133929681686046"
        rpy="0 0 0" />
      <mass
        value="0.13266642" />
      <inertia
        ixx="0.00001699"
        ixy="-0.00000791"
        ixz="-0.00000182"
        iyy="0.00003679"
        iyz="-0.00000196"
        izz="0.00004374" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rota_link1.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rota_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_thumb_rota_joint1"
    type="revolute">
    <origin
      xyz="0.028599 0.0083177 0.00178"
      rpy="0.2618 0 0.0407" />
    <parent
      link="right_hand_thumb_bend_link" />
    <child
      link="right_hand_thumb_rota_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.698"
      upper="1.745"
      effort="1.1"
      velocity="8.63" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_thumb_rotaback_link1">
    <inertial>
      <origin
        xyz="-0.0296289408411864 0.0014334239435258 0.00759117850867843"
        rpy="0 0 0" />
      <mass
        value="0.00000006" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rotaback_link1.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rotaback_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_thumb_rotaback_joint1"
    type="fixed">
    <origin
      xyz="0.0553000000000007 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hand_thumb_rota_link1" />
    <child
      link="right_hand_thumb_rotaback_link1" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_thumb_rota_link2">
    <inertial>
      <origin
        xyz="0.0225340009927979 -0.000881600697645881 -0.000614548321208525"
        rpy="0 0 0" />
      <mass
        value="0.04336091" />
      <inertia
        ixx="0.00000388"
        ixy="0.00000000001"
        ixz="0.00000015"
        iyy="0.00000902"
        iyz="-0.00000042"
        izz="0.00001046" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rota_link2.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rota_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_thumb_rota_joint2"
    type="revolute">
    <origin
      xyz="0.0553 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hand_thumb_rota_link1" />
    <child
      link="right_hand_thumb_rota_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.745"
      effort="0.4"
      velocity="14.38" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_thumb_rotaback_link2">
    <inertial>
      <origin
        xyz="-0.0258393463672562 -0.000532639688528967 0.00924631171368789"
        rpy="0 0 0" />
      <mass
        value="0.00000004" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rotaback_link2.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rotaback_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_thumb_rotaback_joint2"
    type="fixed">
    <origin
      xyz="0.0502276499414862 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hand_thumb_rota_link2" />
    <child
      link="right_hand_thumb_rotaback_link2" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_thumb_rota_tip">
    <inertial>
      <origin
        xyz="8.32667268468867E-17 -8.67361737988404E-19 -5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="0.00000565" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rota_tip.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_thumb_rota_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_thumb_rota_joint3"
    type="fixed">
    <origin
      xyz="0.0502276499414862 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hand_thumb_rota_link2" />
    <child
      link="right_hand_thumb_rota_tip" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_index_bend_link">
    <inertial>
      <origin
        xyz="0.000118997558760787 -0.000715851164577269 -0.0111903014853532"
        rpy="0 0 0" />
      <mass
        value="0.06910833" />
      <inertia
        ixx="0.0000174"
        ixy="0.00000001"
        ixz="0.00000014"
        iyy="0.00001677"
        iyz="-0.00000012"
        izz="0.00000345" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_bend_link.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_bend_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_index_bend_joint"
    type="revolute">
    <origin
      xyz="0.0265 0.0065 -0.0899"
      rpy="0 0 0" />
    <parent
      link="right_hand_link" />
    <child
      link="right_hand_index_bend_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.174"
      upper="0.174"
      effort="0.4"
      velocity="14.38" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_index_rota_link1">
    <inertial>
      <origin
        xyz="0.000133008106573459 0.000632930512954057 -0.0355868719939061"
        rpy="0 0 0" />
      <mass
        value="0.06298297" />
      <inertia
        ixx="0.00001738"
        ixy="0.00000000001"
        ixz="0.00000028"
        iyy="0.00001686"
        iyz="0.00000019"
        izz="0.0000032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rota_link1.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rota_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_index_joint1"
    type="revolute">
    <origin
      xyz="0 0 -0.0178"
      rpy="0 0 0" />
    <parent
      link="right_hand_index_bend_link" />
    <child
      link="right_hand_index_rota_link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="1.1"
      velocity="8.63" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_index_rotaback_link1">
    <inertial>
      <origin
        xyz="-0.000148035114615745 -0.0115948040516035 0.0241234077593065"
        rpy="0 0 0" />
      <mass
        value="0.00000002" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rotaback_link1.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rotaback_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_index_rotaback_joint1"
    type="fixed">
    <origin
      xyz="0 0 -0.0557999999999955"
      rpy="0 0 0" />
    <parent
      link="right_hand_index_rota_link1" />
    <child
      link="right_hand_index_rotaback_link1" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_index_rota_link2">
    <inertial>
      <origin
        xyz="-0.000248361661985549 0.00119905190206764 -0.0213789854478675"
        rpy="0 0 0" />
      <mass
        value="0.01588724" />
      <inertia
        ixx="0.00000277"
        ixy="0.00000000001"
        ixz="0.00000012"
        iyy="0.00000283"
        iyz="0.00000007"
        izz="0.00000085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rota_link2.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rota_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_index_joint2"
    type="revolute">
    <origin
      xyz="0 0 -0.0558"
      rpy="0 0 0" />
    <parent
      link="right_hand_index_rota_link1" />
    <child
      link="right_hand_index_rota_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="0.4"
      velocity="14.38" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_index_rotaback_link2">
    <inertial>
      <origin
        xyz="0.00015795043863779 -0.00758843721876498 0.017665521085611"
        rpy="0 0 0" />
      <mass
        value="0.00000001" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rotaback_link2.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rotaback_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_index_rotaback_joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.0422482924089416"
      rpy="0 0 0" />
    <parent
      link="right_hand_index_rota_link2" />
    <child
      link="right_hand_index_rotaback_link2" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_index_rota_tip">
    <inertial>
      <origin
        xyz="3.70675712346724E-14 8.65627014512427E-16 -8.32667268468867E-16"
        rpy="0 0 0" />
      <mass
        value="0.00000565" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rota_tip.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_index_rota_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_index_rota_joint3"
    type="fixed">
    <origin
      xyz="0 0 -0.0422482924089416"
      rpy="0 0 0" />
    <parent
      link="right_hand_index_rota_link2" />
    <child
      link="right_hand_index_rota_tip" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_mid_link1">
    <inertial>
      <origin
        xyz="3.58049083993136E-05 0.000530417592106078 -0.0332784671157236"
        rpy="0 0 0" />
      <mass
        value="0.06298297" />
      <inertia
        ixx="0.00001738"
        ixy="0.00000000001"
        ixz="0.00000028"
        iyy="0.00001686"
        iyz="0.00000019"
        izz="0.0000032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_mid_link1.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_mid_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_mid_joint1"
    type="revolute">
    <origin
      xyz="0.004 0.0065 -0.1082"
      rpy="0 0 0" />
    <parent
      link="right_hand_link" />
    <child
      link="right_hand_mid_link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="1.1"
      velocity="8.63" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_midback_link1">
    <inertial>
      <origin
        xyz="-0.000148035028410428 -0.0115948040189855 0.0241234086343709"
        rpy="0 0 0" />
      <mass
        value="0.00000002" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_midback_link1.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_midback_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_midback_joint1"
    type="fixed">
    <origin
      xyz="0 0 -0.0558"
      rpy="0 0 0" />
    <parent
      link="right_hand_mid_link1" />
    <child
      link="right_hand_midback_link1" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_mid_link2">
    <inertial>
      <origin
        xyz="-0.000248364601983051 0.00119905076177324 -0.0213789908421273"
        rpy="0 0 0" />
      <mass
        value="0.01624108" />
      <inertia
        ixx="0.00000281"
        ixy="0.00000000001"
        ixz="0.00000012"
        iyy="0.00000287"
        iyz="0.00000007"
        izz="0.00000086" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_mid_link2.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_mid_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_mid_joint2"
    type="revolute">
    <origin
      xyz="0 0 -0.0558"
      rpy="0 0 0" />
    <parent
      link="right_hand_mid_link1" />
    <child
      link="right_hand_mid_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="0.4"
      velocity="14.38" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_midback_link2">
    <inertial>
      <origin
        xyz="0.000157950438652398 -0.00758843721877396 0.0176655210856773"
        rpy="0 0 0" />
      <mass
        value="0.00000001" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_midback_link2.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_midback_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_midback_joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.042248"
      rpy="0 0 0" />
    <parent
      link="right_hand_mid_link2" />
    <child
      link="right_hand_midback_link2" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_mid_tip">
    <inertial>
      <origin
        xyz="5.97126514900737E-14 5.86336534880161E-16 -8.32667268468867E-16"
        rpy="0 0 0" />
      <mass
        value="0.00000565" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_mid_tip.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_mid_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_mid_joint3"
    type="fixed">
    <origin
      xyz="0 0 -0.0422482924089417"
      rpy="0 0 0" />
    <parent
      link="right_hand_mid_link2" />
    <child
      link="right_hand_mid_tip" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_ring_link1">
    <inertial>
      <origin
        xyz="3.58049083615322E-05 0.000530417592105594 -0.0332784671157224"
        rpy="0 0 0" />
      <mass
        value="0.06298297" />
      <inertia
        ixx="0.00001738"
        ixy="0.00000000001"
        ixz="0.00000028"
        iyy="0.00001686"
        iyz="0.00000019"
        izz="0.0000032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ring_link1.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ring_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_ring_joint1"
    type="revolute">
    <origin
      xyz="-0.016 0.0065 -0.1052"
      rpy="0 0 0" />
    <parent
      link="right_hand_link" />
    <child
      link="right_hand_ring_link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="1.1"
      velocity="8.63" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_ringback_link1">
    <inertial>
      <origin
        xyz="-0.000148033469798928 -0.0115948018402145 0.0241234223266379"
        rpy="0 0 0" />
      <mass
        value="0.00000002" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ringback_link1.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ringback_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_ringback_joint1"
    type="fixed">
    <origin
      xyz="0 0 -0.0558000000000002"
      rpy="0 0 0" />
    <parent
      link="right_hand_ring_link1" />
    <child
      link="right_hand_ringback_link1" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_ring_link2">
    <inertial>
      <origin
        xyz="-0.000248364602035429 0.00119905076177346 -0.0213789908421257"
        rpy="0 0 0" />
      <mass
        value="0.01624108" />
      <inertia
        ixx="0.00000281"
        ixy="0.00000000001"
        ixz="0.00000012"
        iyy="0.00000287"
        iyz="0.00000007"
        izz="0.00000086" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ring_link2.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ring_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_ring_joint2"
    type="revolute">
    <origin
      xyz="0 0 -0.0558"
      rpy="0 0 0" />
    <parent
      link="right_hand_ring_link1" />
    <child
      link="right_hand_ring_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="0.4"
      velocity="14.38" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_ringback_link2">
    <inertial>
      <origin
        xyz="0.000157950438638532 -0.00758843721878611 0.0176655210858899"
        rpy="0 0 0" />
      <mass
        value="0.00000001" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ringback_link2.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ringback_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_ringback_joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.0422482924089403"
      rpy="0 0 0" />
    <parent
      link="right_hand_ring_link2" />
    <child
      link="right_hand_ringback_link2" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_ring_tip">
    <inertial>
      <origin
        xyz="1.22818422099158E-15 1.69135538907739E-16 0"
        rpy="0 0 0" />
      <mass
        value="0.00000565" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ring_tip.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_ring_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_ring_joint3"
    type="fixed">
    <origin
      xyz="0 0 -0.0422482924089403"
      rpy="0 0 0" />
    <parent
      link="right_hand_ring_link2" />
    <child
      link="right_hand_ring_tip" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_pinky_link1">
    <inertial>
      <origin
        xyz="3.58049083611298E-05 0.000530417592105422 -0.0332784671157224"
        rpy="0 0 0" />
      <mass
        value="0.06298297" />
      <inertia
        ixx="0.00001738"
        ixy="0.00000000001"
        ixz="0.00000028"
        iyy="0.00001686"
        iyz="0.00000019"
        izz="0.0000032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinky_link1.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinky_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_pinky_joint1"
    type="revolute">
    <origin
      xyz="-0.036 0.0065 -0.1022"
      rpy="0 0 0" />
    <parent
      link="right_hand_link" />
    <child
      link="right_hand_pinky_link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="1.1"
      velocity="8.63" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_pinkyback_link1">
    <inertial>
      <origin
        xyz="-0.000148034891232163 -0.0115948044185708 0.0241234089219646"
        rpy="0 0 0" />
      <mass
        value="0.00000002" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinkyback_link1.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinkyback_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_pinkyback_joint1"
    type="fixed">
    <origin
      xyz="0 0 -0.0558000000000001"
      rpy="0 0 0" />
    <parent
      link="right_hand_pinky_link1" />
    <child
      link="right_hand_pinkyback_link1" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_pinky_link2">
    <inertial>
      <origin
        xyz="-0.000248361662015334 0.0011990519020671 -0.0213789854478658"
        rpy="0 0 0" />
      <mass
        value="0.01624108" />
      <inertia
        ixx="0.00000281"
        ixy="0.00000000001"
        ixz="0.00000012"
        iyy="0.00000287"
        iyz="0.00000007"
        izz="0.00000086" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinky_link2.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinky_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_pinky_joint2"
    type="revolute">
    <origin
      xyz="0 0 -0.0558"
      rpy="0 0 0" />
    <parent
      link="right_hand_pinky_link1" />
    <child
      link="right_hand_pinky_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.919"
      effort="1.4"
      velocity="14.38" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_pinkyback_link2">
    <inertial>
      <origin
        xyz="0.00015795043861809 -0.00758843721877113 0.0176655210856609"
        rpy="0 0 0" />
      <mass
        value="0.00000001" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinkyback_link2.STL" />
      </geometry>
      <material
        name="RAL_9003_Signal_White">
        <color
          rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinkyback_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_pinkyback_joint2"
    type="fixed">
    <origin
      xyz="0 0 -0.0422482924089404"
      rpy="0 0 0" />
    <parent
      link="right_hand_pinky_link2" />
    <child
      link="right_hand_pinkyback_link2" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hand_pinky_tip">
    <inertial>
      <origin
        xyz="6.17561557447743E-16 8.67361737988404E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.00000565" />
      <inertia
        ixx="0.00000000001"
        ixy="0.00000000001"
        ixz="0.00000000001"
        iyy="0.00000000001"
        iyz="0.00000000001"
        izz="0.00000000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinky_tip.STL" />
      </geometry>
      <material
        name="RAL_9005_Jet_Black">
        <color
          rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="xhand_meshes/right_hand_pinky_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_pinky_joint3"
    type="fixed">
    <origin
      xyz="0 0 -0.0422482924089404"
      rpy="0 0 0" />
    <parent
      link="right_hand_pinky_link2" />
    <child
      link="right_hand_pinky_tip" />
    <axis
      xyz="0 0 0" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>

  

  
</robot>
