<?xml version="1.0" encoding="UTF-8"?>
<robot name="xarm7">
  <joint name="UF_ROBOT_root_joint" type="fixed">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="UF_ROBOT"/>
    <child link="world"/>
  </joint>
  <joint name="drive_joint" type="revolute">
    <origin xyz="0. 0.035 0.059098" rpy="0. 0. 0."/>
    <parent link="xarm_gripper_base_link"/>
    <child link="gripper_left_outer_knuckle"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="0." upper="0.85" effort="1000." velocity="1.9999999"/>
  </joint>
  <joint name="gripper_root_joint" type="fixed">
    <origin xyz="-0. 0.0000033 -0. " rpy="-0.0000073 0. 0. "/>
    <parent link="UF_ROBOT_link7"/>
    <child link="xarm_gripper_base_link"/>
  </joint>
  <joint name="joint1" type="revolute">
    <origin xyz="0. 0. 0.267" rpy="0. 0. 0."/>
    <parent link="world"/>
    <child link="UF_ROBOT_link1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="50." velocity="3.1399998"/>
  </joint>
  <joint name="joint2" type="revolute">
    <origin xyz="0. 0. 0." rpy="-1.5708 0. 0. "/>
    <parent link="UF_ROBOT_link1"/>
    <child link="UF_ROBOT_link2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.059" upper="2.0943998" effort="50." velocity="3.1399998"/>
  </joint>
  <joint name="joint3" type="revolute">
    <origin xyz="0. -0.293 -0. " rpy="1.5708 0. 0. "/>
    <parent link="UF_ROBOT_link2"/>
    <child link="UF_ROBOT_link3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="30." velocity="3.1399998"/>
  </joint>
  <joint name="joint4" type="revolute">
    <origin xyz="0.0525 0. 0. " rpy="1.5708 0. 0. "/>
    <parent link="UF_ROBOT_link3"/>
    <child link="UF_ROBOT_link4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-0.19198" upper="3.9269999" effort="30." velocity="3.1399998"/>
  </joint>
  <joint name="joint5" type="revolute">
    <origin xyz="0.0775 -0.3425 0. " rpy="1.5708 0. 0. "/>
    <parent link="UF_ROBOT_link4"/>
    <child link="UF_ROBOT_link5"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="30." velocity="3.1399998"/>
  </joint>
  <joint name="joint6" type="revolute">
    <origin xyz="0. -0. 0." rpy="1.5708001 0. 0. "/>
    <parent link="UF_ROBOT_link5"/>
    <child link="UF_ROBOT_link6"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.6929699" upper="3.1415927" effort="20." velocity="3.1399998"/>
  </joint>
  <joint name="joint7" type="revolute">
    <origin xyz="0.076 0.097 0. " rpy="-1.5708 0. 0. "/>
    <parent link="UF_ROBOT_link6"/>
    <child link="UF_ROBOT_link7"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="20." velocity="3.1399998"/>
  </joint>
  <joint name="left_finger_joint" type="revolute">
    <origin xyz="0. 0.035465 0.042039" rpy="0. 0. 3.1415927"/>
    <parent link="gripper_left_outer_knuckle"/>
    <child link="gripper_left_finger"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.17" upper="1.02" effort="0." velocity="17453.2925199"/>
  </joint>
  <joint name="left_inner_knuckle_joint" type="revolute">
    <origin xyz="0. 0.02 0.074098" rpy="0. 0. 0."/>
    <parent link="xarm_gripper_base_link"/>
    <child link="gripper_left_inner_knuckle"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.17" upper="1.02" effort="0." velocity="17453.2925199"/>
  </joint>
  <joint name="right_finger_joint" type="revolute">
    <origin xyz="0. 0.035465 0.042039" rpy="0. 0. 3.1415927"/>
    <parent link="gripper_right_outer_knuckle"/>
    <child link="gripper_right_finger"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.17" upper="1.02" effort="0." velocity="17453.2925199"/>
  </joint>
  <joint name="right_inner_knuckle_joint" type="revolute">
    <origin xyz="0. -0.02 0.074098" rpy="0. 0. 3.1415927"/>
    <parent link="xarm_gripper_base_link"/>
    <child link="gripper_right_inner_knuckle"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.17" upper="1.02" effort="0." velocity="17453.2925199"/>
  </joint>
  <joint name="right_outer_knuckle_joint" type="revolute">
    <origin xyz="0. -0.035 0.059098" rpy="0. 0. 3.1415927"/>
    <parent link="xarm_gripper_base_link"/>
    <child link="gripper_right_outer_knuckle"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.17" upper="1.02" effort="0." velocity="17453.2925199"/>
  </joint>
  <link name="UF_ROBOT"/>
  <link name="UF_ROBOT_link1">
    <inertial>
      <origin xyz="-0.0002 0.02905 -0.01233" rpy="0. 0. 0."/>
      <mass value="2.382"/>
      <inertia ixx="0.0056905" ixy="-0.0000158" ixz="0.0000051" iyy="0.0049566" iyz="-0.0008734" izz="0.0033167"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link1_visuals_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link1_collisions_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link1_collisions_link1_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="UF_ROBOT_link2">
    <inertial>
      <origin xyz="0.00022 -0.12856 0.01735" rpy="0. 0. 0."/>
      <mass value="1.869"/>
      <inertia ixx="0.0095989" ixy="0.0000015" ixz="0.0000056" iyy="0.0038247" iyz="-0.0031716" izz="0.0075657"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707873 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link2_visuals_link2_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link2_collisions_link2_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link2_collisions_link2_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="UF_ROBOT_link3">
    <inertial>
      <origin xyz="0.0466 -0.02463 -0.00768" rpy="0. 0. 0."/>
      <mass value="1.6382999"/>
      <inertia ixx="0.0031096" ixy="0.0003084" ixz="-0.0005845" iyy="0.0026448" iyz="0.0003389" izz="0.0026624"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link3_visuals_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="-0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link3_collisions_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="-0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link3_collisions_link3_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="UF_ROBOT_link4">
    <inertial>
      <origin xyz="0.07047 -0.11575 0.012 " rpy="0. 0. 0."/>
      <mass value="1.7269"/>
      <inertia ixx="0.005889" ixy="0.0013711" ixz="0.0008814" iyy="0.003597" iyz="-0.0017622" izz="0.0054324"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link4_visuals_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="-0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link4_collisions_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="-0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link4_collisions_link4_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="UF_ROBOT_link5">
    <inertial>
      <origin xyz="-0.00032 0.01604 -0.026 " rpy="0. 0. 0."/>
      <mass value="1.3203"/>
      <inertia ixx="0.0053467" ixy="0.0000151" ixz="-0.0000004" iyy="0.0049779" iyz="-0.0002213" izz="0.0013624"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. 0." rpy="1.5707873 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link5_visuals_link5_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0. 0." rpy="0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link5_collisions_link5_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0. 0." rpy="0.0000001 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link5_collisions_link5_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="UF_ROBOT_link6">
    <inertial>
      <origin xyz="0.06469 0.03278 0.02141" rpy="0. 0. 0."/>
      <mass value="1.325"/>
      <inertia ixx="0.0014745" ixy="-0.000488" ixz="0.0002953" iyy="0.0019037" iyz="0.0001475" izz="0.0023652"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link6_visuals_link6_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link6_collisions_link6_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link6_collisions_link6_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="UF_ROBOT_link7">
    <inertial>
      <origin xyz="0. -0.00677 -0.01098" rpy="0. 0. 0."/>
      <mass value="0.17"/>
      <inertia ixx="0.000093" ixy="0." ixz="0." iyy="0.0000587" iyz="-0.0000036" izz="0.000132"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/UF_ROBOT_link7_visuals_link7_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0. 0." rpy="-0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/end_tool_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0. 0." rpy="-0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/end_tool_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_left_finger">
    <inertial>
      <origin xyz="0. -0.016413 0.029258" rpy="0. 0. 0."/>
      <mass value="0.048304"/>
      <inertia ixx="0.0000175" ixy="0." ixz="0." iyy="0.0000172" iyz="-0.0000046" izz="0.0000051"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="1.5707872 0. -3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_left_finger_visuals_left_finger_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. -0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_left_finger_collisions_left_finger_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. -0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_left_finger_collisions_left_finger_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_left_inner_knuckle">
    <inertial>
      <origin xyz="0.0000019 0.0220468 0.0261335" rpy="0. 0. 0."/>
      <mass value="0.0230126"/>
      <inertia ixx="0.0000061" ixy="-0." ixz="-0." iyy="0.000006" iyz="0.0000028" izz="0.0000051"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/gripper_left_inner_knuckle_visuals_left_inner_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/gripper_left_inner_knuckle_collisions_left_inner_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/gripper_left_inner_knuckle_collisions_left_inner_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_left_outer_knuckle">
    <inertial>
      <origin xyz="0. 0.021559 0.015181" rpy="0. 0. 0."/>
      <mass value="0.033618"/>
      <inertia ixx="0.0000191" ixy="0." ixz="0." iyy="0.0000066" iyz="0.0000073" izz="0.0000132"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/gripper_left_outer_knuckle_visuals_left_outer_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/gripper_left_outer_knuckle_collisions_left_outer_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/gripper_left_outer_knuckle_collisions_left_outer_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_right_finger">
    <inertial>
      <origin xyz="0. 0.016413 0.029258" rpy="0. 0. 0."/>
      <mass value="0.048304"/>
      <inertia ixx="0.0000175" ixy="0." ixz="0." iyy="0.0000172" iyz="0.0000046" izz="0.0000051"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/gripper_right_finger_visuals_right_finger_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/gripper_right_finger_collisions_right_finger_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/gripper_right_finger_collisions_right_finger_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_right_inner_knuckle">
    <inertial>
      <origin xyz="0.0000019 -0.022047 0.026133 " rpy="0. 0. 0."/>
      <mass value="0.023013"/>
      <inertia ixx="0.0000061" ixy="0." ixz="-0." iyy="0.000006" iyz="-0.0000028" izz="0.0000051"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. -3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_right_inner_knuckle_visuals_right_inner_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_right_inner_knuckle_collisions_right_inner_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_right_inner_knuckle_collisions_right_inner_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_right_outer_knuckle">
    <inertial>
      <origin xyz="0. -0.021559 0.015181" rpy="0. 0. 0."/>
      <mass value="0.033618"/>
      <inertia ixx="0.0000191" ixy="0." ixz="0." iyy="0.0000066" iyz="-0.0000073" izz="0.0000132"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. -3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_right_outer_knuckle_visuals_right_outer_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_right_outer_knuckle_collisions_right_outer_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 3.1415927"/>
      <geometry>
        <mesh filename="./meshes/gripper_right_outer_knuckle_collisions_right_outer_knuckle_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="world">
    <inertial>
      <origin xyz="-0.021131 -0.0016302 0.056488 " rpy="0. 0. 0."/>
      <mass value="0.88556"/>
      <inertia ixx="0.0030595" ixy="0.0001226" ixz="-0.000627" iyy="0.0037783" iyz="0.0002702" izz="0.0020125"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707872 0. 0. "/>
      <geometry>
        <mesh filename="./meshes/world_visuals_link_base_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/world_collisions_link_base_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/world_collisions_link_base_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="xarm_gripper_base_link">
    <inertial>
      <origin xyz="-0.0006549 -0.0018497 0.048028 " rpy="0. 0. 0."/>
      <mass value="0.54156"/>
      <inertia ixx="0.0004711" ixy="-0.0000004" ixz="-0.0000027" iyy="0.0003307" iyz="0.000011" izz="0.0002564"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/xarm_gripper_base_link_visuals_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/xarm_gripper_base_link_collisions_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="./meshes/xarm_gripper_base_link_collisions_base_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
